.header {
    display: inline;
    background-color: black;
    /*color: white;*/
}

.footer {
    background-color: black;
    color:white;
}

.pageheader, .ab-footer {
    background-color: gray;
}

* {
    font-family: 'Cantarell', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.red {
    color: red;
}

.content {
    position: relative;
}

#pagetop {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    padding: 25% 0;
    height: 50%
}

.employees {
    text-align: center;
}
}
