.header {
    display: inline;
    background-color: black;
    /*color: white;*/
}

.footer {
    background-color: black;
    color:white;
}

.pageheader, .ab-footer {
    background-color: gray;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.red {
    color: red;
}
